*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

body{
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0e0b65;
}

h1{
    color: #fbfbfb;
    margin-bottom: 20px;
    padding-top: 5%;
}

div{
    align-items: center;
    background-color: #fbfbfb;
    width: 80%;
    border-radius: 10px;
    margin-top: 5%;
}

ol{
    height: fit-content;
    padding: 20px;
    text-align: left;
    gap: 2%;
}
 
li{
    list-style: none;
    margin-bottom: 10px;
}

.opt-btn{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    transition-duration: 1s;
    background-color: #fbfbfb;
    border: none;
    color:black;
    cursor: pointer;
}

.opt-btn:hover{
    background-color: #0e0b65;
    color: #fbfbfb;
    border-radius: 10px;
}

.opt-btn:focus{
    background-color: #0e0b65;
    color: #fbfbfb;
    border-radius: 10px;
}


h2{
    color: #0e0b65;
    margin-bottom: 20px;
}

.nxt-q{
    border-color: black;
    color:black;
    transition-duration:all ease 0.5s;
}

.nxt-q:hover{
    background-color: #0e0b65;
    color: #fbfbfb;
}

#next-btn{
    display: none;
    justify-self: center;
}

#submit{
    display: none;
    border-color: black;
    color:black;
    transition-duration:all ease 0.5s;  
    justify-self: center;
}

#submit:hover{
    background-color: #0e0b65;
    color: #fbfbfb;
}

#score-container{
    color: black;
    width: fit-content;
    font-style: italic;

}